// Colors

$redColor:hsl(1, 90%, 64%);
$blueColor: hsl(219, 85%, 26%);

$whiteColor: hsl(0, 0%, 100%);
$veryLightGrayishBlue: hsl(210, 60%, 98%);
$lightGrayishBlueOne: hsl(211, 68%, 94%);
$lightGrayishBlueTwo: hsl(205, 33%, 90%);
$grayishBlue: hsl(219, 14%, 63%);
$darkGrayishBlue: hsl(219, 12%, 42%);
$veryDarkBlue: hsl(224, 21%, 14%);

// Typography

$baseFontSize: .9rem;
$fontFamily: 'Plus Jakarta Sans', 'Open Sans';

// Layout
$layoutMobile: 375px;
$layoutDesktop: 1440px;

// border
$borderRadius: 5px;